


@media only screen and (height <  300px ) {


     
    .pr1  , .pr2 , .pr3 , .pr4 , .pr5 , .pr6 , .pr7{
 
     width: 5vh;
     height: 5vh; 
    
 }
 
 
 }
 
 @media only screen and (height >=  300px) {
 
 
    .pr1  , .pr2 , .pr3 , .pr4 , .pr5 , .pr6 , .pr7{
 
 
     width: 3vh;
     height: 3vh; 
 }
 
 

      
  }
 
  @media only screen and (width >  1080px ) {
 
  
    .pr1  , .pr2 , .pr3 , .pr4 , .pr5 , .pr6 , .pr7{
 
 
     width: 2.5vh;
     height: 2.5vh;
    
 }
   
 }
       
 


body{
    background-image: url(../Images/Leonardo_Phoenix_A_hauntingly_beautiful_dark_fantasy_user_inte_3\(1\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    font-size: 3vh;
}
    
    

.formulario{
    border-radius: 10px;
    background: linear-gradient(220deg, rgba(248, 134, 3, 0.75), rgb(218, 165, 32, 0.75) );
    backdrop-filter: blur(5px);
    margin: 2% auto 0;
    padding: .5%;
    width: fit-content;   
    border-radius: 10px;

  
    
    
}

.home-tab {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #ffee00;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

    
.preguntas{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; 



}    

.accept{
    
    margin: 5%;
    padding-bottom: 5%;
    width: 80%;
    background-color: rgb(255, 69, 0, 0.25);
    display: flex; 
    flex-direction: row;   
    justify-content: center;
    align-items: center; 
    align-content: center;
 
}



.btn {
    
    width: 50%;
    background-color: grey;
    color: rgb(0, 0, 0);
    font-size: 5vh;
    border: none;
    outline: none;
    cursor: pointer;

}
.btn:hover {

     
   background-color: black;
   color: whitesmoke;

}
  
  






