*{
    margin: 0%;
    border: 0%;
    padding: 0%;
}

@media only screen and (height <  300px ) {

    .a{
     
        font-size: 4vh;
    
    }

 
 
 }
 
 @media only screen and (height >=  300px) {
 
 

 
    .a{
     
     font-size: 4vh;
 
 }
      
  }
 
  @media only screen and (width >  1080px ) {
 
    .a{
     
        font-size: 4vh;
    
    }

/*     .ra {
 
     width: 2.5vh;
     height: 2.5vh;
    
 } */

 
 }
       
 
 
 


.bodyConteiner{

    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color:black
}


.header{

    display:flex;
    background:url(/img/acolyte.jpeg);
    width: 100%;  /* 1800px; */
    height: 175px;
    align-items: center;
    justify-content:space-around;
    color: gold;
    font-family: "Julee", cursive;
    font-size: 5vh;

}

.boxHeader {
    margin: 0% 1% 0% 1%;
    display: flex;
    justify-content: center;
}


.logo{
    
    display: flex;
    align-items: center;
    height: 10%;
    width: 10%;
}

.menu{
    background-image:url(../img/Carved_3Slides_pattern.png);
    background-size: contain;  

    width: 100%;

    display: flex;
    justify-content: center;
    align-items:center;

  
   
   
}

.btnMenu {
  display: inline-block;
  background: url("../img/Buttons/Button_Hover_3Slides.png") no-repeat center center;
  background-size: contain;
  width: 190px;   /* ajusta al tamaño real de la imagen */
  height: 64px;   /* ajusta al tamaño real de la imagen */
  line-height: 64px;
  text-align: center;
  color: black;   /* cambia según contraste */
  font-family: 'Julee', cursive;
  font-size: 4vh;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.btnMenu:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.elementosMenu{
    
    position: relative; 
    display: flex;
    border-radius: 10%;
    margin: 1%;
    align-items: center;

    


}

.elementosMenu:hover{
   
    background-color: rgb(62, 19, 101);
    transition:  1s;
}

a {
    color: goldenrod;
    text-decoration: none;
}

 
.main{
    background-image:url("https://i.redd.it/f22woqj3miz91.gif") ;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 2.5vh;
    width: 75%; 
    color: black;
    font-size: 3vh;
    align-items: center;
    min-height:100dvh;
    min-width :230dvh;
    position: relative;

/*     position:relative;  display:grid; place-items:center; overflow:hidden;
    isolation:isolate; */
    
}
.text {
 
    padding: 2.5vh;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-bottom: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

.btnPlay {

    margin-top: 23%;
    margin-left: 3%;

    z-index: 2; /* Asegura que esté encima del gif */
    display: inline-block; 
    background: url("../img/Buttons/Button_Hover_3Slides.png") no-repeat center center;
    background-size: contain;
    position: absolute;
    width: 190px;   /* ajusta al tamaño real de la imagen */
    height: 64px;   /* ajusta al tamaño real de la imagen */
    line-height: 64px;
    text-align: center;
    color: black;   /* cambia según contraste */
    font-family: 'Julee', cursive;
    font-size: 4vh;
    text-decoration: none;
    transition: transform 0.2s ease;
    transform-origin: center;
}

.btnPlay:hover{
   
    transform: scale(1.05);
    filter: brightness(1.2);
}

.footer{

    width: 100%;
    display:flex;
    justify-content: center;
    background-image: url(/img/ambar.jpeg);
    background-size: cover;
    text-align: center;
    align-items: center;
    color: goldenrod;
    font-size: 3vh;
    
}

.imgRedes{
    height: 5%;
    width: 5%;
}