

@media only screen and (height <  300px ) {

    .btnMenu{
     
        size: 4vh;
    
    }

 
 
 }
 
 @media only screen and (height >=  300px) {
 
 

 
    .btnMenu{
     
     size: 4vh;
 
 }
      
  }
 
  @media only screen and (width >  1080px ) {
 
     .btnMenu{
     
        size: 4vh;
    
    }
  }
/*     .btnMenu {
 
     width: 2.5vh;
     height: 2.5vh;
    
 }  */

 
 *{
    margin: 0%;
    border: 0%;
    padding: 0%;
    font-family: "Julee", cursive;
    font-size: 5vh;
}
       
 
 
 


.bodyConteiner{

    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color:black
}


.header{

    display:flex;
    background-image:url(/img/background.png);
    background-repeat:repeat-x;
    background-size: 40%;        
    background-position:top;    
    width: 100%; 
    height: 30vh;
  
    align-items: center;
    justify-content:space-around;
    color: gold;
   
    

}

.headerTitle{
   
    text-overflow: clip;
    color: goldenrod;
    text-shadow: 0.5vh 0.5vh 0vh black; 
    font-size: 10vh;
}
.boxHeader {
    margin: 0% 1% 0% 1%;
    display: flex;
    justify-content: center;
}


.logo{
    
    display: flex;
    align-items: center;
    height: 10%;
    width: 10%;
}

.menu{
    background-image:url(../img/Carved_3Slides_pattern.png);
    background-size: contain;  

    width: 100%;
    height: 17vh;
    display: flex;
    justify-content: center;
    align-items:center;

  
   
   
}

.btnMenu {

  display: inline-block;
  background: url("../img/Buttons/Button_Hover_3Slides.png") no-repeat center center;
  background-size: contain;
  width: 15vw;      /* ancho relativo a la ventana */
  height: 10vh;      /* alto relativo a la ventana */
  min-width: 120px; /* tamaño mínimo para no ser demasiado pequeño */
  min-height: 40px;
/*   line-height: 7vh; */
  text-align: center;
  color: black;
  font-size: 6vh;
  text-decoration: none;
  transition: transform 0.2s ease;
}


.btnMenu:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.elementosMenu{
    
    position: relative; 
    display: flex;
    border-radius: 10%;
    margin: 1%;
    align-items: center;

    


}

.elementosMenu:hover{
   
    background-color: rgb(62, 19, 101);
    transition:  1s;
}

a {
    display: inline-block;
    text-align: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

 
.main{
    background-image:url("https://i.redd.it/f22woqj3miz91.gif") ;
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 2.5vh;
   /*  width: 100%;  */
    color: black;
    font-size: 3vh;
    align-items: center;
    min-height:100dvh;
    min-width :200dvh;
    position: relative;

/*     position:relative;  display:grid; place-items:center; overflow:hidden;
    isolation:isolate; */
    
}
.text {
 
    padding: 2.5vh;
    background: rgba(148, 160, 43, 0.8);
    border-radius: 10px;
    margin-bottom: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

.btnPlay {

    margin-top: 23%;
    margin-left: 3%;

    z-index: 2; /* Asegura que esté encima del gif */
    display: inline-block; 
    background: url("../img/Buttons/Button_Hover_3Slides.png") no-repeat center center;
    background-size: contain;
    position: absolute;
    width: 15vw;      
    height: 10vh; 
    line-height: 64px;
    text-align: center;
    color: black;   /* cambia según contraste */
    font-size: 6vh;
    text-decoration: none;
    transition: transform 0.2s ease;
    transform-origin: center;
}

.btnPlay:hover{
   
    transform: scale(1.05);
    filter: brightness(1.2);
}

.footer{

    background-image:url(../img/Carved_3Slides_pattern.png);
    background-size: contain;  
    width: 100%;


    height: 20vh;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    font-size: 3vh;
    
}

.footerLink{
    text-decoration:none;
    color:black;
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding-bottom:5%;
}
.imgRedes{
    height: 5%;
    width: 5%;
}