*{
    margin: 0%;
    border: 0%;
    padding: 0%;
}

body{
    display: flex;
}



.bodyConteiner{

  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: black;
}


.header{
    display:flex;
    background-image: url(/Image/fondo-header.jpg);
    align-items: center;
    justify-content:space-around;
    color: gold;
    font-size: 5vh;
    width: 100%;
}

.boxHeader {
    margin: 0% 1% 0% 1%;
    display: flex;
    justify-content: center;
}


.logo{
    
    display: flex;
    align-items: center;
    height: 10%;
    width: 10%;
}

 
.main{
    display: flex;
    color: goldenrod;
    flex-direction: column;
    text-align: justify;
    align-items: center; /*alinea los itemes con el eje Y*/
    row-gap: 1%; /*genera los espascios entre las columnas*/
}

.menu{
    display: flex;
    background-image: url(/Image/fondo-footer.avif);
    background: cover;
    color: goldenrod;
    font-size: 3vh;
    justify-content: center;
    align-items:start;
    width: 100%;
}




.elementosMenu{
    display: flex;
    background-image: url(/Image/Red-Flu.png);
    animation-play-state: paused ;
    border-radius: 10%;
    margin: 1%;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    transition: height 1s;
    height: 3em;

}

.elementosMenu:hover{
   
    background-image: url(/Gif/Red-Flu.gif);
}

a {
    color: goldenrod;
    text-decoration: none;
}

.footer{
    display:flex;
    justify-content: space-around;
    background-image: url(/Image/fondo-footer.avif);
    background-size: cover;
    text-align: left;
    align-items: center;
    color: goldenrod;
    font-size: 3vh;
    width: 100%;
}

.imgRedes{
    height: 5%;
    width: 5%;
}